<h1>Listing articles</h1>
<table class="table">
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Text</th>
		<th>Created date</th>
		<th></th>
		<th></th>
	</tr>
	<% @articles.each do |article| %>
	<tr>
		<td><%= article.id %></td>
		<td><%= link_to article.title, article_path(id: article.id) %></td>
		<td><%= article.text %></td>
		<td><%= article.created_at.to_time.strftime("%A, %B %d, %Y at %H:%M") %></td>
		<td><%= link_to 'Edit', edit_article_path(article) if article.owned_by?(current_user) %></td>
		<td><%= link_to 'Destroy', article_path(article),
          method: :delete,
          data: { confirm: 'Are you sure?' } if article.owned_by?(current_user) %></td>
	</tr>
	<% end %>
</table>
<%= link_to 'New article', new_article_path %>
