.index_title.clearfix
  %h1.pull-left= t('.listing_title')
  .new_article.pull-right
    = link_to t('buttons.new_article'), new_article_path, class: 'btn btn-success'

- @articles.each do |article|
  .article_body
    .pull-right
      = article.created_at.to_time.strftime("%A, %B %d, %Y at %H:%M")
      %b= article.user.name
    %br/
    %h5.article_title= link_to article.title, article_path(article)
    = simple_format sanitize(article.text[0..300], tags: []) + '...'
    .action_buttons.pull-right
      = link_to t('buttons.edit'), edit_article_path(article), class: 'btn btn-warning btn-sm' if user_signed_in? && article.owned_by?(current_user)
      = link_to t('buttons.delete'), article_path(article), class: 'btn btn-danger btn-sm' if user_signed_in? && article.owned_by?(current_user)
    %br/
.text-center
  = will_paginate @articles, renderer: BootstrapPagination::Rails

