<%= link_to t('buttons.edit'), edit_article_path(@article), class: 'btn btn-warning btn-xs' if user_signed_in? && @article.owned_by?(current_user) %>
<div class="pull-right"><%= @article.user.name %></div>
<h2><%= @article.title %></h2>
<div class="article">
<p><%= @article.text %></p>
</div>
<hr>
<%= render @article.comments %>

<% if user_signed_in? %>
<h2><%= t('articles.show.add')%></h2>
<%= render 'comments/form' %>
<% else %>
<p> <%= t('articles.show.attention') %></p>
<% end %>

<%= link_to t('buttons.back'), articles_path%>
