<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= t("shared.navbar.title") %></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="<%= navbar_link('articles') %>">
        <a href="<%= articles_path %>"><%= t("buttons.articles") %></a>
      </li>
      <li>
        <a href="#"> </a>
    </ul>
    <% if user_signed_in? %>
      <div class="nav navbar-nav navbar-right">
        <a class="btn btn-default navbar-btn" href="<%= destroy_user_session_path %>">
          <%= t("buttons.sign_out")%>
        </a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <a class="btn btn-default navbar-btn" href="<%= edit_user_registration_path %>">
          <%= t("buttons.user_cabinet")%>
        </a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <p class="navbar-text"><%= t("shared.navbar.signed")+' '+current_user.name %></p>
      </div>
    <% else %>
      <div class="nav navbar-nav navbar-right">
        <a class="btn btn-default navbar-btn" href="<%= new_user_session_path %>"><%= t("devise.sessions.new.sign_in") %></a>
      </div>
    <% end %>
    <div class="nav navbar-nav navbar-right local">
      <%= select_tag "locale-select", options_for_select({'EN' => :en, "UA" => :uk }, session[:locale]), class: "form-control" %>
    </div>
  </div>
</nav>
