!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = tinymce_assets
  %body
    = render 'shared/navbar'
    = render 'shared/notifications'
    .container
      .row
        .col-md-8
          = yield
        .col-md-4
          = yield :categories
